$button_basic: #0F8390;

$button_hover: #fff;
$button_hover_border: #0F8390;

div .btn-primary{
    background-color: $button_basic;
    border: none;
    width: 180px;
    &:hover{
        color: $button_basic;
        background-color: $button_hover;
        border: 1px solid $button_hover_border;
    }
}

.main-container{
    border: 1px solid $button_hover_border;
    border-radius: 5px;
}