$strong_color: #0F8390;
$base_color: #fff;
$font_color: #333;

.form-select:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #0F8390 inset;
}

.row{
        --bs-gutter-x: 0;
}

.btn-primary{
    color: $base_color;
    background-color: $strong_color;
    border: 1px solid $strong_color;
    &:hover{
        color: $strong_color;
        background-color: $base_color;
        border: 1px solid $strong_color;
    }
}

.btn-outline-primary{
    color: $strong_color;
    background-color: $base_color;
    border: 1px solid $strong_color;
    &:hover{
        color: $base_color;
        background-color: $strong_color;
        border: 1px solid $strong_color;
    }
}

.icon-btn{
    max-width: 40px;
}

.more_horiz{
    border: none;
    &:hover{
        color: $strong_color;
        background-color: $base_color;
        border: none;
    }
}

.alert{
    border: none;
}